<a href="https://colab.research.google.com/github/rebeccalizaverghese/BA-with-Python/blob/main/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
x= int(input("Enter your marks"))

Enter your marks50

In [11]:
if x>50 :
  print("You have passed")
if x<50 :
  print("You have failed")
if x==50 :
  print("You have just passed")

You have just passed

In [23]:
s= int(input("Enter your salary"))

Enter your salary63000

In [13]:
if s>250000 :
  print("You are taxable")
if s<250000 :
  print ("You are not taxable")

You are not taxable

In [26]:
s= int(input("Enter your salary"))
if s>=250000 and s<=500000 :
  print("You are taxable")
  print("Your tax amount is", (s-250000)*10/100)
if s>500000 :
  print("You are Taxable")
  print("Your tax amount is", (s-500000)*20/100)
if s<250000 :
  print("You are not taxable")

Enter your salary550000
You are Taxable
Your tax amount is 10000.0

In [34]:
x=int(input("Enter your salary:"))
if x<=250000:
  print("You are not taxable")
if x>250000 and x<=500000:
  a=(x-250000)*5/100
  print("You are taxable and amount is:",a)
if x>500000 and x<=750000:
  b=(x-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",b)
if x>750000 and x<=1000000:
  c=(x-750000)*15/100+(750000-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",c)
if x>1000000 and x<=1250000:
  d=(x-1000000)*20/100+(1000000-750000)*15/100+(750000-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",d)
if x>1250000 and x<=1500000:
  e=(x-1250000)*25/100+(1250000-1000000)*20/100+(1000000-750000)*15/100+(750000-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",e)
if x>1500000:
  c=(x-1500000)*30/100+(1500000-1250000)*25/100+(1250000-1000000)*20/100+(1000000-750000)*15/100+(750000-500000)*10/100 + (500000-250000)*5/100
  print("You are taxable and amount is:",c)

Enter your salary:1400000
You are taxable and amount is: 162500.0