In [20]:
x=input("enter the first number")
y=input("enter the second number")

enter the first number3
enter the second number19

In [21]:
int(x)+int(y)

22

In [22]:
int(x)-int(y)

-16

In [23]:
int(x)/int(y)

0.15789473684210525

In [24]:
int(x)*int(y)

57

In [25]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))

enter the first number13
enter the second number6

In [26]:
x+y

19

In [27]:
x-y

7

In [28]:
x*y

78

In [29]:
x/y

2.1666666666666665

In [35]:
p=int(input("enter principle amount:"))
n=int(input("enter number of years:"))
r=int(input("enter rate of interest:"))
i=p*n*r
print("interest amount:",i)

enter principle amount:30000
enter number of years:3
enter rate of interest:5
interest amount: 450000

In [36]:
print("total deposit:",p+i)

total deposit: 480000

In [48]:
x=(int(input("enter your mark")))
y=(int(input("enter your mark")))

enter your mark33
enter your mark85

In [51]:
if x > 50 :
  print("you are passed")
if x < 50 :
  print("you are failed")
if y > 50 :
  print("PASS")
else:
  print("FAIL")

you are failed
PASS

In [71]:
x=int(input("enter your salary"))
tax=x*10/100
y=int(input("enter your salary"))

enter your salary260500
enter your salary133000

In [72]:
if x>250000:
  print("you are taxable")
  print("your tax amount is",tax)
if x<250000:
  print("you are not taxable")
if y>250000:
  print("you are taxable")
else:
  print("you are not taxable")

you are taxable
your tax amount is 26050.0
you are not taxable

In [69]:
x=int(input("enter your salary"))
t=x-250000
tax=t*10/100

enter your salary300000

In [70]:
if x>250000:
  print("you are taxable")
  print("your tax amount is",tax)
if x<250000:
  print("you are not taxable")

you are taxable
your tax amount is 5000.0

In [88]:
x=int(input("enter your salary"))

enter your salary550000

In [89]:
if x<250000:
  print ("you are not taxable")
if 250000<x<500000:
  print ("you are taxable",x*10/100)
if x>500000:
  print("you are taxable",x*20/100)

you are taxable 110000.0

In [90]:
y=int(input("enter your salary"))

enter your salary333000

In [92]:
if y<250000:
  print ("you are not taxable")
if 250000<y<500000:
  print ("you are taxable",y*10/100)
if y>500000:
  print("you are taxable",y*20/100)

you are taxable 33300.0