<a href="https://colab.research.google.com/github/rebeccalizaverghese/BA-with-Python/blob/main/Revision_19_01_Python_Libraries_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=2
y=5
print(x is y)
print(x is not y) #Identity Operator

False
True

In [4]:
x=2
y=5
print(x<2 and x<10)    #Logical Operator => 'and' - should satisfy both conditions
print(not(x<2 and x<10))

False
True

In [5]:
x=2
y=5
print((x+5) - y < (x+10)-y) #Multi-operation expression

True

In [7]:
x=2
y=5
z=3
print((x+y)<z) #Combinational Expression

False

In [8]:
x=10
y=4
print(x+int(y)) #Hybrid Operators

14

In [10]:
x=10*(4+6) * 10/100
print(x) #BODMAS

10.0

In [12]:
#PYTHON LIBRARIES/MODULES - allows use of less codes

In [14]:
#1.MATH library
import math
x=math.pi
print(x)

3.141592653589793

In [16]:
#when name of library is large - can be renamed -> 'math' => 'mt'
import math as mt
x=mt.e
print(x)

2.718281828459045

In [22]:
#Area of circle
import math as mt
r = int(input("Enter the radius:"))
x=mt.pi * r**2
print(x)

Enter the radius:33
3421.194399759285

In [31]:
#Sin
import math as mt
s=mt.sin(33)
print(s)

0.9999118601072672

In [30]:
#Cos
import  math as mt
c=mt.cos(20)
print (c)

0.40808206181339196

In [29]:
#tan
import math as mt
t=mt.tan(30)
print(t)

-6.405331196646276

In [28]:
#power
import math as mt
p=mt.pow(2,4)
print(p)

16.0

In [32]:
#Squareroot
import math as mt
sqrt=mt.sqrt(64)
print(sqrt)

8.0

In [33]:
#MAX/MIN
import math as mt
max=max(5,10,25)
min=min(5,10,25)
print(max)
print(min)

25
5

In [43]:
#2.STATISTICS
#Mean
import statistics as st
st.mean([2,5,6,9])

5.5

In [44]:
#Standard Deviation
import statistics as st
print(st.stdev([1,3,5,7,9,11]))

3.7416573867739413

In [45]:
#Variance
import statistics as st
st.variance([2,2.5,5,3,7.5,2.8])

4.34

In [58]:
#Python assigns a position/ roll nos. to each letter starting from the no. '0' =>
a="Rebecca"
print(a)
print(a[1]) #'a[0]=> 1st letter 'a[1]=>2nd letter etc
print(a[-1]) #'a[-1]'=> last letter 
print(a[-2]) #'a[-2]' => 2nd last letter
print(a[0:1]) # 'a[0:1]'=> print 0th letter (excludes 1st letter)
print(a[0:2]) # 'a[0:2]' => excludes 2nd letter
print(a[2:5]) # 'a[0:5]' => 2,3,4 letters included
print(a[:4]) # 'a[:4]' => all letters before 4
print(a[3:]) # 'a[3:]' => all letters from 3rd

Rebecca
e
a
c
R
Re
bec
Rebe
ecca

In [99]:
x="Rebecca Liza Verghese"
print(a[0:])

Rebecca

In [70]:
#STRINGS
#Uppercase
x="Rebecca"
print(x.upper())

REBECCA

In [71]:
#Replace Letters
x="Hello World"
print(x.replace("H", "J"))

Jello World

In [76]:
#Lowercase
x="Hello World"
print(x.lower())

hello world

In [77]:
#Split
x="Hello , World"
print(x.split(","))

['Hello ', ' World']

In [91]:
#To find the roll.no/position of particular letter
x="Hello World"
print(x.index("o"))

4

In [101]:
x="Rebecca Liza Verghese"
print(x.index("R"))
print(x.index("L"))
print(x.index("V"))

0
8
13

In [100]:
#To find if 'x' starts with letter 's'
x="Rebecca"
print(x.startswith("S"))

False

In [102]:
x="Rebecca"
y=x.startswith("Reb", 3, 10)
print(y)

False

False

In [104]:
#Partition
x="Hello World with Python"
y= x.partition("with")
print(y)

('Hello World ', 'with', ' Python')